@font-face {
  font-family: "iconfont"; /* Project id 2713230 */
  src: url('../font/iconfont.woff2?t=1627731577235') format('woff2'),
       url('../font/iconfont.woff?t=1627731577235') format('woff'),
       url('../font/iconfont.ttf?t=1627731577235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.25rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoyuhao:before {
  content: "\e606";
}

.icon-dianzan1:before {
  content: "\e653";
}

.icon-pinglun:before {
  content: "\e64c";
}

.icon-zhaoxiangji:before {
  content: "\e611";
}

